<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Weather Risk Alert</title>

    <link href=
    "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow-lg">

        <div class="card-header bg-success text-white">
            <h2>🌾 Weather Risk Alert System</h2>
        </div>

        <div class="card-body">

            <form action="/weather" method="get">

                <div class="row">

                    <div class="col-md-8">
                        <input type="text"
                               name="city"
                               class="form-control"
                               placeholder="Enter City Name">
                    </div>

                    <div class="col-md-4">
                        <button class="btn btn-success w-100">
                            Check Weather
                        </button>
                    </div>

                </div>

            </form>

            <hr>

            <h4>📍 City:
                <span th:text="${weather.city}"></span>
            </h4>

            <h4>🌡 Temperature:
                <span th:text="${weather.temperature}"></span> °C
            </h4>

            <h4>💧 Humidity:
                <span th:text="${weather.humidity}"></span> %
            </h4>

            <h4>🌧 Rainfall:
                <span th:text="${weather.rainfall}"></span> mm
            </h4>

            <h4>
                🚨 Risk Level:

                <span class="badge bg-danger"
                      th:text="${weather.riskLevel}">
                </span>
            </h4>

            <div class="alert alert-warning mt-3">

                <span th:text="${weather.alertMessage}">
                </span>

            </div>

        </div>

    </div>

</div>

</body>
</html>